﻿<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

@model IEnumerable<ELearning.Models.tblContent>
@Scripts.Render("~/bundles/bootstrap")
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
@{
    ViewBag.Title = "គ្រប់គ្រងមាតិការ";
    Layout = "~/Views/Shared/_ContentManagement.cshtml";
}

<h2>គ្រប់គ្រងមាតិការ</h2>
<div>
    <p>
        @Html.ActionLink("New", "Register", "Editor")
    </p>

    <table class="table" id="contentsTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.clevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tblCourse.name)
                </th>
                <th class="no-sort"></th>
                <th class="no-sort"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.clevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cid)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.tblCourse.name)
                    </td>
                    <td class="no-sort">
                        @Html.ActionLink("កែប្រែ", "Edite", new { id = item.id }, new { @class = "btn btn-primary" }) 
                        @Html.ActionLink("លុប", "Delete", new { id = item.id }, new { @class = "btn btn-warning" }) 
                        @Html.ActionLink("លម្អិត", "Details", new { id = item.id }, new { @class = "btn btn-danger" })
                    </td>
                  
                </tr>
            }
        </tbody>

    </table>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")

    <script>
        $(document).ready(function () {
            $('#contentsTable').dataTable({
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}

