﻿@model ELearning.Models.tblContent

@{
    ViewBag.Title = "លំអិត";
    Layout = "~/Views/Shared/_ContentManagement.cshtml";
}

<h2>លំអិត អំពី មេរៀន</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cid)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edite", new { id = Model.id }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Back to List", "ContentManagement", "", new { @class = "btn btn-primary" })
</p>
