﻿@model ELearning.Models.tblUser

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblAdmin.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAdmin.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblEditor.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEditor.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblStudent.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblStudent.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logInFreq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logInFreq)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
