﻿@model ELearning.Models.tblUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblAdmin.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAdmin.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblEditor.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEditor.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblStudent.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblStudent.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logInFreq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logInFreq)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
