@model ELearning.Models.TinyMCEModel

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'text-field' });</script>
<h2>Index</h2>

@using (Html.BeginForm()) {

    <fieldset>
        <legend>TinyMCEModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        

        <p>
            <input type="submit" value="Create" />
        </p>
        <textarea>Easy! You should check out MoxieManager!</textarea>
    </fieldset>
   
}