﻿<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

@model IEnumerable<ELearning.Models.tblUser>

@{
    ViewBag.Title = "UserManagement";
}

<h2>User Management</h2>

<div>
    <p>
        @Html.ActionLink("Create New User", "Register", "UserAccount")
    </p>

    <table class="table" id="usersTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.logInFreq)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.type)
                </th>
                <th class="no-sort"></th>
                <th class="no-sort"></th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.logInFreq)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td class="no-sort">
                        @Html.ActionLink("Edit", "Edit", "UserAccount")
                    </td>
                    <td class="no-sort">
                        @Html.ActionLink("Delete", "Delete", "UserAccount")
                    </td>
                    @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>*@
                </tr>
            }
        </tbody>       

    </table>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")

    <script>
        $(document).ready(function () {
            $('#usersTable').dataTable({
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}